<div class="header" th:fragment="header">
    <h1>HỆ THỐNG QUẢN LÝ ĐIỂM SINH VIÊN – KHOA CNTT</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px;">
        <div class="container-fluid" style="background-color: #2e5da1;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" style="padding: 0px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Xin chào :<span class="hidden-xs" th:text="${profile.name}"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 67px;margin-top: 15px;padding: 0;">
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <input class="dropdown-item custom-hover" type="submit" value="đăng xuất">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>