<div class="col-md-3 col-lg-3 sidebar" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="sidebar-item" sec:authorize="hasRole('admin')">
        <a th:href="@{/quantri/profile}"
           th:classappend="${activePage == 'profile'} ? 'active' : ''">
            Hồ sơ
        </a>
    </div>

    <div class="sidebar-item" sec:authorize="!hasRole('admin') and hasRole('staff')">
        <a th:href="@{/staff/profile}"
           th:classappend="${activePage == 'profile'} ? 'active' : ''">
            Hồ sơ
        </a>
    </div>

    <div class="sidebar-item" sec:authorize="!hasRole('admin') and !hasRole('staff') and hasRole('teacher')">
        <a th:href="@{/teacher/profile}"
           th:classappend="${activePage == 'profile'} ? 'active' : ''">
            Hồ sơ
        </a>
    </div>

    <div class="sidebar-item" sec:authorize="!hasRole('admin') and !hasRole('staff') and !hasRole('teacher') and hasRole('student')">
        <a th:href="@{/student/profile}"
           th:classappend="${activePage == 'profile'} ? 'active' : ''">
            Hồ sơ
        </a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('admin')">
        <a th:href="@{/quantri/teachers}"  th:classappend="${activePage == 'teacher'} ? 'active' : ''">Quản lý giáo viên</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('admin')">
        <a th:href="@{/quantri/students}"  th:classappend="${activePage == 'student'} ? 'active' : ''">Quản lý sinh viên</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('admin')">
        <a th:href="@{/quantri/staff}" th:classappend="${activePage == 'staff'} ? 'active' : ''">Quản lý tài khoản phòng đào tạo</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('staff')" >
        <a th:href="@{/staff/departments}" th:classappend="${activePage == 'department'} ? 'active' : ''">Quản lý khoa</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('staff')" >
        <a th:href="@{/staff/cycles}" th:classappend="${activePage == 'cycle'} ? 'active' : ''">Quản lý học kỳ</a>
    </div>

    <div class="sidebar-item" sec:authorize="hasRole('staff')">
        <a th:href="@{/staff/subject}" th:classappend="${activePage == 'subject'} ? 'active' : ''">Quản lý môn học</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('staff')">
        <a th:href="@{/staff/regrades-staff}" th:classappend="${activePage == 'regrade-staff'} ? 'active' : ''">Quản lý phúc khảo sinh viên</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('teacher')" >
        <a th:href="@{/teacher/class-teacher}" th:classappend="${activePage == 'class'} ? 'active' : ''">Quản lý lớp học phần quản lý</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('teacher')" >
        <a th:href="@{/teacher/regrades-teacher}" th:classappend="${activePage == 'regrades-teacher'} ? 'active' : ''">Quản lý phúc khảo sinh viên</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('student')" >
        <a th:href="@{/student/student-subject}" th:classappend="${activePage == 'student-sub'} ? 'active' : ''">Quản lý các môn học</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('student')" >
        <a th:href="@{/student/score-subject}" th:classappend="${activePage == 'score-sub'} ? 'active' : ''">Tra cứu điểm</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('student')" >
        <a th:href="@{/student/regrades}" th:classappend="${activePage == 'regrade-student'} ? 'active' : ''">Phúc khảo</a>
    </div>
    <div class="sidebar-item" sec:authorize="hasRole('staff')" >
        <a th:href="@{/staff/statistics}" th:classappend="${activePage == 'staff-statistics'} ? 'active' : ''">Thông kê</a>
    </div>

</div>