spring:
  application:
   name: QuanLySinhVien
  datasource:
    url: "jdbc:mysql://localhost:3306/quanlysinhvien"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
  thymeleaf:
    cache: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: namthanh12303@gmail.com
    password: usqjzriijlverwmo
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  servlet:
    context-path: /qlsv
    port: 8080
